@{
    ViewData["Title"] = "Home Page";
}

<style>
    #main{
        margin-left: auto;
        margin-right: auto;
    }
</style>

<!-- ======= Hero Section ======= -->

<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>POOL STUDIO</h1>
        <a href="#contact" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>

</section> <!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container d-flex align-items-stretch">

            <div class="row">

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
                    <img src="~/Squadfree/assets/img/hayward.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
                    <img src="~/Squadfree/assets/img/pentair.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
                    <img src="~/Squadfree/assets/img/cmp.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
                    <img src="~/Squadfree/assets/img/ak.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
                    <img src="~/Squadfree/assets/img/Limar.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-2 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
                    <img src="~/Squadfree/assets/img/spin.jpg" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Recomendaciones</h2>
                @*<p></p>*@
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-center mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up">
                        @* <div class="icon"><i class="bx bxl-dribbble"></i></div>*@
                        <img src="~/Squadfree/assets/img/fcartucho.jpg" class="img-fluid" alt="">
                        <h4 class="title"><a href="">Filtro de cartucho</a></h4>
                        <p class="description">Los filtros de cartuchos atrapan mayor cantidad de particulas y es por esto que el limpiado de sus cartuchos debe realizarse frecuentemente.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-center mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        @*<div class="icon"><i class="bx bx-file"></i></div>*@
                        <img src="~/Squadfree/assets/img/otoyph.jpg" class="img-fluid" alt="">
                        <h4 class="title"><a href="">Test Kit</a></h4>
                        <p class="description">Mide constantemente tu nivel de cloro y ph para que tu piscina se encuentre saludable. Aqui encontraras los pasos a seguir.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-center mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        @*<div class="icon"><i class="bx bx-tachometer"></i></div>*@
                        <img src="~/Squadfree/assets/img/valv.jpg" class="img-fluid" alt="">
                        <h4 class="title"><a href="">Valvula selectora</a></h4>
                        <p class="description">Utiliza todas las funciones de tu valvula selectora y podras alargar la vida util de tu filtro.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-md-center mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        @*<div class="icon"><i class="bx bx-world"></i></div>*@
                        <img src="~/Squadfree/assets/img/accesorios.jpg" class="img-fluid" alt="">
                        <h4 class="title"><a href="">Accesorios</a></h4>
                        <p class="description">El constante mantenimiento de tu piscina te ayudara a mantenerla saludable y siempre lista para un chapuzón.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Squadfree/assets/img/Carrusel/Carro hw.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Squadfree/assets/img/Carrusel/laminar.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Squadfree/assets/img/Carrusel/omni.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Squadfree/assets/img/Carrusel/blower.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!-- End Testimonials Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Catalogo</h2>
                @*<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
            </div>

            <div class="row" data-aos="fade-in">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-equipo">Equipos</li>
                        <li data-filter=".filter-quimicos">Quimicos</li>
                        <li data-filter=".filter-accesorios">Accesorios</li>
                        <li data-filter=".filter-repuestos">Repuestos</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6 portfolio-item filter-accesorios">
                    <div class="portfolio-wrap">
                        <img src="~/Squadfree/assets/img/portfolio/ceramica shell.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Squadfree/assets/img/portfolio/ceramica shell.jpg" data-gall="portfolioGallery" class="venobox" title="Ceramica"><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-quimicos">
                    <div class="portfolio-wrap">
                        <img src="~/Squadfree/assets/img/portfolio/clorizide.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Squadfree/assets/img/portfolio/clorizide.jpg" data-gall="portfolioGallery" class="venobox" title="Clorizide 91"><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-quimicos">
                    <div class="portfolio-wrap">
                        <img src="~/Squadfree/assets/img/portfolio/cloro.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Squadfree/assets/img/portfolio/cloro.jpg" data-gall="portfolioGallery" class="venobox" title="Cloro multifuncion"><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-equipo">
                    <div class="portfolio-wrap">
                        <img src="~/Squadfree/assets/img/portfolio/SP HW.jpeg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Squadfree/assets/img/portfolio/SP HW.jpeg" data-gall="portfolioGallery" class="venobox" title="Bomba Hayward"><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-accesorios">
                    <div class="portfolio-wrap">
                        <img src="~/Squadfree/assets/img/portfolio/carro.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Squadfree/assets/img/portfolio/carro.jpg" data-gall="portfolioGallery" class="venobox" title="Filtro"><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-equipo">
                    <div class="portfolio-wrap">
                        <img src="~/Squadfree/assets/img/portfolio/clorador.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Squadfree/assets/img/portfolio/clorador.jpg" data-gall="portfolioGallery" class="venobox" title="Carro limpiador"><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-equipo">
                    <div class="portfolio-wrap">
                        <img src="~/Squadfree/assets/img/portfolio/filtro.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Squadfree/assets/img/portfolio/filtro.jpg" data-gall="portfolioGallery" class="venobox" title="Filtro Pentair"><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-quimicos">
                    <div class="portfolio-wrap">
                        <img src="~/Squadfree/assets/img/portfolio/pastilla.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Squadfree/assets/img/portfolio/pastilla.jpg" data-gall="portfolioGallery" class="venobox" title="Cloro en pastilla"><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-accesorios">
                    <div class="portfolio-wrap">
                        <img src="~/Squadfree/assets/img/portfolio/test.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Squadfree/assets/img/portfolio/test.jpg" data-gall="portfolioGallery" class="venobox" title="Test Kit"><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Contactanos</h2>
                @*<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Nuestra direccion</h3>
                        <p>Avenida Tiradentes 64, Santo Domingo, D.N. </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Envianos un correo</h3>
                        <p>alluberes@poolstudio.do</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Llamanos</h3>
                        <p>+809 770 3958</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>



            </div>

        </div>
    </section><!-- End Contact Section -->
    </main>