@model PoolStudio.WEB.Models.Item

@{
    ViewData["Title"] = "Create";
}

<style>
    #create-body{
        margin-top: 15%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #center-fields {
        margin-left: auto;
        margin-right: auto;
    }
</style>

    <div id="create-body">

        <h3>Agregar Nuevo Producto</h3>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label"></label>
                        <input asp-for="ImageFile" accept="image/*" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClasificationId" class="control-label"></label>
                        <select asp-for="ClasificationId" class="form-control" asp-items="ViewBag.ClasificationId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemName" class="control-label"></label>
                        <input asp-for="ItemName" class="form-control" />
                        <span asp-validation-for="ItemName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Modelo" class="control-label"></label>
                        <input asp-for="Modelo" class="form-control" />
                        <span asp-validation-for="Modelo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brand" class="control-label"></label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comment" class="control-label"></label>
                        <input asp-for="Comment" class="form-control" />
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-dark" asp-action="Index">

                            Regresar
                        </a> |

                        <input type="submit" value="Agregar" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>

    </div>
