@model PoolStudio.WEB.Models.Clasification

@{
    ViewData["Title"] = "Create";
}


<style>
    #create-body {
        margin-top: 15%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

</style>

<div id="create-body">
    <h3>Agregar Nueva Categoría</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ItemType" class="control-label"></label>
                    <input asp-for="ItemType" class="form-control" />
                    <span asp-validation-for="ItemType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Agregar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-primary" asp-action="Index">Regresar</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>